### Variables
- Variable act as a storage unit to hold/store data in python.
- Variable are dynamic in nature in python because they can hold different type of data.
- Variable are case sensitive in python (like `Name` not eqauls to `name` they'll be totally different variables).

#### Cases to name a variable
1. snake case (ex: user_name)
2. camel case (ex: userName)
3. pascal case (ex: UserName)

#### Rules to name a variable
- Variable name should start with a letter or underscore.
- Consist of just letters, numbers and underscores.
- No reserved keywords. Avoid using python keywords like `if`, `else`, `def` etc.
- Readable and descriptive (`total_price` `ok`) (`tp` `not okay`)

### **1️⃣ Basic Data Types**
- **Integer (`int`)** → Whole numbers  
  - Examples: `1, -3, 299`
- **Float (`float`)** → Decimal numbers  
  - Examples: `3.14, -0.5, 0.0`
- **Complex (`complex`)** → Numbers with a real and imaginary part  
  - Examples: `2 + 3j, -1 - 5j`
- **Boolean (`bool`)** → Represents `True` or `False`  
  - Examples: `True, False`
- **String (`str`)** → Sequence of characters  
  - Examples: `"Hello"`, `'Python'`

### **2️⃣ Collection Data Types**
- **List (`list`)** → Ordered, mutable, allows duplicates  
  - Examples: `[1, 2, 3]`, `["apple", "banana"]`
- **Tuple (`tuple`)** → Ordered, immutable, allows duplicates  
  - Examples: `(1, 2, 3)`, `("a", "b", "c")`
- **Set (`set`)** → Unordered, unique values  
  - Examples: `{1, 2, 3}`, `{"apple", "banana"}`
- **Frozen Set (`frozenset`)** → Immutable version of a set  
  - Examples: `frozenset([1, 2, 3])`
- **Dictionary (`dict`)** → Key-value pairs, unordered  
  - Examples: `{"name": "Alice", "age": 25}`

### **3️⃣ Special Data Types**
- **None Type (`NoneType`)** → Represents the absence of a value  
  - Example: `None`
- **Bytes (`bytes`)** → Immutable sequence of bytes  
  - Example: `b"hello"`
- **Bytearray (`bytearray`)** → Mutable version of bytes  
  - Example: `bytearray(5)`
- **Memoryview (`memoryview`)** → Provides a memory-efficient view of a bytes-like object  
  - Example: `memoryview(b"hello")`

### **1. Integer (`int`)**
- Represents whole numbers, both positive and negative.
- Does not include fractions or decimals.
- Commonly used for counting and indexing.

In [1]:
num = 0
num1 = 42
num2 = -2

print("num", num, type(num))
print("num1", num1, type(num1))
print("num2", num2, type(num2))

num 0 <class 'int'>
num1 42 <class 'int'>
num2 -2 <class 'int'>

### **2. Float (`float`)**
- Represents decimal or floating-point numbers.
- Can store positive and negative decimal values.
- Used in financial calculations, scientific computing, and precise measurements.

In [2]:
pi = 3.14159
small_float = -0.002
exp_float = 1.5e2

print("pi", pi, type(pi))
print("small_float", small_float, type(small_float))
print("exp_float", exp_float, type(exp_float))

pi 3.14159 <class 'float'>
small_float -0.002 <class 'float'>
exp_float 150.0 <class 'float'>

### **3. String  (`str`)**
- Represents a sequence of characters.
- Can be enclosed in single, double, or triple quotes.
- Used for storing and manipulating text.

In [5]:
greeting = "Hello Python"
qoute = 'Using single quote'
multiline_string = """Hi I am 
a multiline string"""

print(greeting, type(greeting))
print(qoute, type(qoute))
print(multiline_string, type(multiline_string))

Hello Python <class 'str'>
Using single quote <class 'str'>
Hi I am
a multiline string <class 'str'>

In [7]:
# Concatenation
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name

# Repeatetion
ha_3_times = "Ha" * 3

# Indexing and Slicing
first_char = greeting[0]
sub_string = greeting[0:4]

print("Full Name:", full_name)
print("Ha 3 times:", ha_3_times)
print("first char:", first_char)
print("substring:", sub_string)

Full Name: John Doe
Ha 3 times: HaHaHa
first char: H
substring: Hell

In [ ]:
# f string: use to display variable value in string
age = 20
print(f"My age is {age}")

My age is 20

### **4. Boolean  (`bool`)**
- Represents logical values: `True` or `False`.
- Used in conditional statements and logical operations.

In [10]:
is_python_easy = True
likes_coffee = False

print("is python easy: ", is_python_easy, type(is_python_easy))
print("likes coffee: ", likes_coffee, type(likes_coffee))

is python easy:  True <class 'bool'>
likes coffee:  False <class 'bool'>

In [11]:
if is_python_easy:
    print("Yes python is easy")

Yes python is easy

### **5. None Type (`NoneType`)**
- Represents the absence of a value or null.
- Used to initialize variables or as a default return value for functions that do not return anything.

In [13]:
nothing_here = None
print("nothing here: ", nothing_here, type(nothing_here))

nothing here:  None <class 'NoneType'>

In [14]:
if nothing_here is None:
    print("The variable has no value")

The variable has no value

### **6. List (`list`)**
- Ordered and mutable (can be modified).
- Allows duplicate values.
- Can store different data types in a single list.

In [21]:
empty_list = []
number_list = [10, 20, 30, 40]
mixed_list = ["hello", 3.14, True]

print("Empty: ",empty_list)
print("Number list", number_list)
print("Mixed list: ", mixed_list)

first_number = number_list[0]
last_number = number_list[-1]
print("first number: ", first_number)
print("Last number", last_number)

Empty:  []
Number list [10, 20, 30, 40]
Mixed list:  ['hello', 3.14, True]
first number:  10
Last number 40

In [ ]:
number_list.append(50)
print(number_list)
number_list.insert(2, 35)
print(number_list)
removed_item = number_list.pop()
number_list.remove(20)

number_list[1] = 25

print("Modified number list: ", number_list)
print("removed item", removed_item)

[10, 20, 30, 40, 50]
[10, 20, 35, 30, 40, 50]
Modified number list:  [10, 25, 30, 40]
removed item 50

### **7. Tuple (`tuple`)**
- Ordered but immutable (cannot be modified after creation).
- Faster than lists.
- Allows duplicate values.

In [23]:
empty_tuple = ()

single_element_tuple = (42,)
numbers_tuple = (10, 20, 30)
mixed_tuple = ("Alice", 25, True)

print("empty tuple: ", empty_tuple)
print("single element tuple: ", single_element_tuple)
print("numbers tuple: ", numbers_tuple)
print("mixed tuple: ", mixed_tuple)

first_item = numbers_tuple[0]
print("first item: ", first_item)

sub_tuple = numbers_tuple[1:]
print("sliced sub tuple: ", sub_tuple)

empty tuple:  ()
single element tuple:  (42,)
numbers tuple:  (10, 20, 30)
mixed tuple:  ('Alice', 25, True)
first item:  10
sliced sub tuple:  (20, 30)

In [24]:
try:
    numbers_tuple[1] = 99
except TypeError as e:
    print("error: ", e)

error:  'tuple' object does not support item assignment

In [26]:
person_tuple = ("Bob", 30, "Engineer")
name, age, job = person_tuple

print("name: ", name)
print("age: ", age)
print("job: ", job)

name:  Bob
age:  30
job:  Engineer

### **8. Dictionary (`dict`)**
- Stores key-value pairs.
- Keys must be unique and immutable (like strings, numbers, or tuples).
- Values can be of any data type.

In [31]:
empty_dict = {}
person_dict = {"name": "Alice", "age": 30}
another_dict = dict(city = "London", country = "US")

print("empty_dict" ,empty_dict)
print("person_dict", person_dict)
print("another_dict", another_dict)

print("Name: ", person_dict["name"])
print("Age: ", person_dict.get("age")) # .get is safer, returns None if key is not found

empty_dict {}
person_dict {'name': 'Alice', 'age': 30}
another_dict {'city': 'London', 'country': 'US'}
Name:  Alice
Age:  30

In [32]:
person_dict["city"] = "New York"

removed_value = person_dict.pop("age")
print("Removed Age", removed_value)

if "name" in person_dict:
    print("Name is in the dictionary")

print(person_dict)

Removed Age 30
Name is in the dictionary
{'name': 'Alice', 'city': 'New York'}

In [33]:
print("Keys: ", person_dict.keys())
print("Values: ", person_dict.values())
print("Items: ", person_dict.items())

Keys:  dict_keys(['name', 'city'])
Values:  dict_values(['Alice', 'New York'])
Items:  dict_items([('name', 'Alice'), ('city', 'New York')])

### **9. Set (`set`)**
- Unordered and does not allow duplicate values.
- Useful for mathematical operations like union and intersection.
- Elements cannot be accessed via an index.

In [36]:
empty_set = set()
number_set = {1, 2, 3, 2}
mixed_set = {"Apple", 42, (1, 2)}

print("Empty set: ", empty_set)
print("number set: ", number_set)
print("mixed set: ", mixed_set)

Empty set:  set()
number set:  {1, 2, 3}
mixed set:  {42, (1, 2), 'Apple'}

In [37]:
number_set.add(4) # add 4 to set
number_set.discard(2) # remove 2 if it exist, no error if it doesn't exist
# number_set.remove(2) # remove 2 but raise a KeyError error if it doesn't exist

print("Updated set: ", number_set)

Updated set:  {1, 3, 4}

In [38]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}

print("Union: ", set_a.union(set_b))

print("Intersection: ", set_a.intersection(set_b))

print("Difference: ", set_a.difference(set_b))

print("Symetric Difference: ", set_a.symmetric_difference(set_b))

Union:  {1, 2, 3, 4, 5}
Intersection:  {3}
Difference:  {1, 2}
Symetric Difference:  {1, 2, 4, 5}